<body style="text-align: center;background-color: rgb(197, 220, 239); height: auto;">
  <br>
  <img src="./assets/images/hrlogo.jpeg" alt="">
  <h1 class="title">HR Management Sign Up</h1>
  <form class="signup-form" [formGroup]="form" (ngSubmit)="signUp()">
    <br>
    <mat-form-field>
      <mat-label>Name:</mat-label>
      <input matInput type="text" name="firstName" formControlName="firstName">
      <ng-container *ngIf="form.controls['firstName'].errors">
        <mat-error *ngIf="form.controls['firstName'].hasError('required')&&form.controls['firstName'].dirty">
          Name is required</mat-error>
        <mat-error *ngIf="form.controls['firstName'].hasError('maxlength')&&form.controls['firstName'].dirty">
          Name must be less than 45 chars long</mat-error>
      </ng-container>
    </mat-form-field>

    <br>
    <mat-form-field>
      <mat-label>Last Name:</mat-label>
      <input matInput type="text" name="lastName" formControlName="lastName">
      <ng-container *ngIf="form.controls['lastName'].errors">
        <mat-error *ngIf="form.controls['lastName'].hasError('required')&&form.controls['lastName'].dirty">
          Last Name is required</mat-error>
        <mat-error *ngIf="form.controls['lastName'].hasError('maxlength')&&form.controls['lastName'].dirty">
          Last name must be less than 45 chars long</mat-error>
      </ng-container>
    </mat-form-field>

    <br>
    <mat-form-field>
      <mat-label>Username:</mat-label>
      <input matInput type="text" name="username" formControlName="username">
      <ng-container *ngIf="form.controls['username'].errors">
        <mat-error *ngIf="form.controls['username'].hasError('required')&&form.controls['username'].dirty">Username is
          required</mat-error>
        <mat-error *ngIf="form.controls['username'].hasError('unique')&&form.controls['username'].dirty">Username must
          be unique</mat-error>
        <mat-error *ngIf="form.controls['username'].hasError('maxlength')&&form.controls['username'].dirty">
          Username must be less than 45 chars long</mat-error>
      </ng-container>
    </mat-form-field>

    <br>
    <mat-form-field>
      <mat-label>Password:</mat-label>
      <input matInput type="password" name="password" formControlName="password">
      <ng-container *ngIf="form.controls['password'].errors">
        <mat-error *ngIf="form.controls['password'].hasError('required')&&form.controls['password'].dirty">Password is
          required</mat-error>
        <mat-error *ngIf="form.controls['password'].hasError('maxlength')&&form.controls['password'].dirty">
          Password must be less than 45 chars long</mat-error>
      </ng-container>
    </mat-form-field>

    <br>
    <button class="button" mat-stroked-button color="primary" [disabled]="!form.valid" type="submit">Confirm</button>
    <button class="button" mat-stroked-button color="primary" type="button" [routerLink]="'/login'">Back to
      login</button>
  </form>
  <br>
</body>